<div class="container">
  <mat-card>
    <form class="form" [formGroup]="profileForm">
        <h6 *ngIf="this.xData" >{{ currentDate |  date:'HH:MM:a'}}&nbsp; &nbsp;{{ currentDate | date:'fullDate' | uppercase}}<hr></h6>

      <mat-chip-list>
        <mat-chip>Welcome &nbsp; <span *ngIf="this.xData" class="badge badge-light">USER {{this.xData.id}}</span> </mat-chip>
      </mat-chip-list><br>

      <mat-form-field class="full-width">
        <input matInput placeholder="First Name" type="text" formControlName="firstName">
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput placeholder="Last Name" type="text" formControlName="lastName">
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput placeholder="Email" type="text" formControlName="emailID">
      </mat-form-field>


      <mat-form-field class="full-width">
        <input matInput placeholder="Phones" type="text" formControlName="phoneNumber">
      </mat-form-field><br>


      <mat-slide-toggle formControlName="isPrimary">Primary ? </mat-slide-toggle><br><br>


      <button class="update" mat-raised-button color="primary" (click)="formData()">Update</button>
      <button class="reset" mat-button color="warn" (click)="clearData()">Reset</button>
      <button class="autofill" mat-raised-button (click)="formData()">Auto Fill </button>


    </form>
  </mat-card>
</div>